<style>
    body {
        background-image: url("/Content/img/scale.png");
        background-repeat: no-repeat;
        background-size: contain;
        color: white;
    }
</style>
<main id="HomeMain" style="text-align: center; height: 54.3rem; display: flex; flex-direction: column; align-items: center; ">
    <img src="~/Content/img/logo.jpg" alt="Panucci's Pizza" style="width: 30rem; margin-bottom: 3rem; margin-top: 2rem;">
    <div class="home-div" style="box-shadow: 4px 5rem 1rem 0px rgba(0, 0, 0, 0.15); border: double;">
    <h1 style="text-shadow: 3px 2px black;" class="mt-2 ">Benvenuto da Panucci's Pizza</h1>
    <h3 style="text-shadow: 3px 2px black;">La pizzeria piu veloce della citta</h3>
        <p style="text-shadow: 3px 2px black;">Se non ricevi la pizza entro 30 minuti dall'ordine la pizza la offriamo noi</p>
    </div>
        <a href="@Url.Action("Index", "Prodotti", new { area = "" })" class="btn btn-danger bg-gradient mt-3" style="width: 15rem;">Ordina subito</a>
</main>